.banner a {
  width: 100%;
  height: 100px;
  background-color: #d0101b;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* display: none; */
}
.banner__content {
  letter-spacing: 2px;
  font-size: 24px;
  line-height: 28px;
  color: white;
}
.banner__content span {
  color: #ffff00;
  font-weight: bold;
}

.banner__icon {
  cursor: pointer;
  position: absolute;
  right: 70px;
}
